# This service unit is for storing the number of pacman updates available in a monitor file in Jif's home/monitor directory
# This requires pacman-contrib and the checkupdates script

[Unit]
Description=Logs number of available pacman package updates to a file in a user's home/monitor directory
Wants=updates-query.timer

[Service]
Type=oneshot
ExecStart=/home/USERNAMEHERE/scripts/monitor_package_updates.sh

[Install]
WantedBy=multi-user.target
